.navbar {
    border-radius: 0px;
    margin-bottom: 0;
}

.nav-title {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
}

#map {
 /*   bottom:0px;
    height: 100%;
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 1;*/
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;

}

.sidenav {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index : 1;
}

.list-group-item {
    margin: 0;
    color: black;
    border-left: solid;
    border-bottom: solid;
}

#pano {
    width: 200px;
    height: 200px;
}

#foursquare-img {
    height: 40px;
    width: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 30px;
    height: 60px;
    color: black;
}
